<main>
  <app-recursos-aprendizaje appMonitor />

  <hr />

  <app-autenticacion />

  <!-- @if(esAdmin()) {

  } -->

  <!-- <p *ngIf="esAdmin()">Solo los admin veran esto</p> -->

  <!-- <ng-template appAutenticacion="admin">
    <p>Solo los admin veran esto</p>
  </ng-template> -->

  <p *appAutenticacion="'admin'" class="contenido-protegido admin">
    Solo los admin veran esto
  </p>
  <p *appAutenticacion="'usuario'" class="autenticado">
    Los usuarios veran esto
  </p>
  <p *appAutenticacion="'invitado'" class="no-autenticado">
    Solo los invitados veran esto
  </p>
</main>
