<app-contenedor-lugares titulo="Tus Lugares Favoritos">
  @if (estaRecibiendo() && !error()) {
    <p class="texto-respaldo">Cargando lugares favoritos...</p>
  }

  @if (error()) {
    <p class="texto-respaldo">{{ error() }}</p>
  }

  @if (lugares()) {
    <app-lugares
      [lugares]="lugares()!"
      (seleccionarLugar)="alEliminarLugar($event)"
    />
  } @else if (lugares()?.length === 0) {
    <p class="texto-respaldo">Desafortunadamente no se encontraron lugares.</p>
  }
</app-contenedor-lugares>
