@if (!resultados) {

<p class="centrar">Ingresa algunos valores</p>
}@else {

<table>
  <thead>
    <tr>
      <th>Año</th>
      <th>Valor Inversion</th>
      <th>Interes anual</th>
      <th>Interes total</th>
      <th>Capital invertido</th>
    </tr>
  </thead>
  <tbody>
    @for (resultado of resultados; track resultado.anio) {

    <tr>
      <td>{{ resultado.anio }}</td>
      <td>{{ resultado.valorFinalAnio | currency : "EUR" }}</td>
      <td>{{ resultado.inversionAnual | currency : "EUR" }}</td>
      <td>{{ resultado.interesTotal | currency : "EUR" }}</td>
      <td>{{ resultado.montoTotalInvertido | currency : "EUR" }}</td>
    </tr>
    }
  </tbody>
</table>
}
