<form #form="ngForm" (ngSubmit)="alEnviar(form)">
  <h2>Iniciar Sesión</h2>

  <div class="control-fila">
    <div class="control sin-margen">
      <label for="email">Correo Electrónico</label>
      <input id="email" type="email" name="email" ngModel />
    </div>

    <div class="control sin-margen">
      <label for="contrasena">Contraseña</label>
      <input id="contrasena" type="password" name="contrasena" ngModel />
    </div>

    <button class="button">Iniciar Sesión</button>
  </div>
</form>
